Repository sample-react-projects/tic-tac-toe: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Add the card component
  package.json
  src/components/card/Card.module.scss
  src/components/card/Card.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Move app component
  src/App.css
  src/App.tsx
  src/components/app/App.module.scss
  src/components/app/App.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Restructure root
  src/index.css
  src/main.tsx
Due: npm run prettier:fix, npm run eslint:fix

Add common root styles
  src/index.scss
Due: npm run prettier:fix, npm run stylelint:fix

Add player component
  src/components/player/Player.tsx
Due: npm run prettier:fix, npm run eslint:fix

Add it's styles
  src/components/player/Player.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

Call in players
  src/components/players/Players.module.scss
  src/components/players/Players.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Write common styles
  src/index.scss
Due: npm run prettier:fix, npm run stylelint:fix

Add title
  index.html
  src/index.scss
Due: npm run prettier:fix, npm run stylelint:fix

Adjust border color
  src/components/card/Card.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

Create specific button variant
  src/components/player/Player.tsx
  src/index.scss
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Update title size
  index.html
Due: none

Create gameboard component
  src/components/gameboard/Gameboard.tsx
Due: npm run prettier:fix, npm run eslint:fix

Write styles
  src/components/gameboard/Gameboard.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

fix platers gap
  src/components/players/Players.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

Add key in looped elements
  src/components/players/Players.tsx
Due: npm run prettier:fix, npm run eslint:fix

Target 2022
  tsconfig.json
Due: npm run prettier:fix

Use gameboard
  src/components/app/App.tsx
Due: npm run prettier:fix, npm run eslint:fix

Add winning conditions
  src/helper/winning-conditions.ts
Due: npm run prettier:fix, npm run eslint:fix

Add logic to check winner and draw
  src/components/gameboard/Gameboard.tsx
Due: npm run prettier:fix, npm run eslint:fix

Create modal component
  src/components/modal/Modal.module.scss
  src/components/modal/Modal.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Lift state up
  src/components/app/App.tsx
  src/components/gameboard/Gameboard.tsx
Due: npm run prettier:fix, npm run eslint:fix

Use card interface
  src/components/card/Card.tsx
Due: npm run prettier:fix, npm run eslint:fix

Rename props
  src/components/app/App.tsx
Due: npm run prettier:fix, npm run eslint:fix

reorder
  src/components/card/Card.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

lint
  src/components/card/Card.tsx
Due: npm run prettier:fix, npm run eslint:fix

rename classes
  src/components/gameboard/Gameboard.tsx
Due: npm run prettier:fix, npm run eslint:fix

Update class names
  src/components/gameboard/Gameboard.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

lint
  src/components/modal/Modal.tsx
Due: npm run prettier:fix, npm run eslint:fix

lint
  src/components/player/Player.tsx
Due: npm run prettier:fix, npm run eslint:fix

Fixed types
  src/components/players/Players.tsx
Due: npm run prettier:fix, npm run eslint:fix

move reusable styles
  common/button.scss
  common/textbox.scss
Due: npm run prettier:fix, npm run stylelint:fix

Fix css
  src/components/gameboard/Gameboard.module.scss
Due: npm run prettier:fix, npm run stylelint:fix

Import reusable styles
  src/components/modal/Modal.module.scss
  src/components/player/Player.module.scss
  src/index.scss
Due: npm run prettier:fix, npm run stylelint:fix

Use updated classes
  src/components/modal/Modal.tsx
  src/components/player/Player.tsx
Due: npm run prettier:fix, npm run eslint:fix

Move files
  src/components/util/modal/Modal.module.scss
  src/components/util/modal/Modal.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Lift the state up
  src/components/player/Player.tsx
Due: npm run prettier:fix, npm run eslint:fix

Further lift
  src/components/players/Players.tsx
Due: npm run prettier:fix, npm run eslint:fix

Use winning name
  src/components/app/App.tsx
Due: npm run prettier:fix, npm run eslint:fix

Move card to util folder
  src/components/card/Card.tsx
  src/components/util/card/Card.module.scss
  src/components/util/card/Card.tsx
Due: npm run prettier:fix, npm run eslint:fix, npm run stylelint:fix

Path conditions:
  npm run prettier:fix: (((any of: *.{ts,tsx,js,jsx}) or (any of: *.json)) or (any of: *.{md,mdx})) or (any of: *.scss)
  npm run eslint:fix: any of: *.{ts,tsx,js,jsx}
  npm run stylelint:fix: any of: *.scss
